<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>HomeMainServlet</display-name>
    <servlet-name>HomeMainServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.am.HomeMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeMainServlet</servlet-name>
    <url-pattern>/HomeMainServlet</url-pattern>
  </servlet-mapping>
  <display-name>JSP_AM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ArticleListServlet</display-name>
    <servlet-name>ArticleListServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.am.ArticleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleListServlet</servlet-name>
    <url-pattern>/ArticleListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPageServlet</display-name>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.am.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/MainPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDoDeleteServlet</display-name>
    <servlet-name>ArticleDoDeleteServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.am.ArticleDoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDoDeleteServlet</servlet-name>
    <url-pattern>/ArticleDoDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asdasdsad</display-name>
    <servlet-name>asdasdsad</servlet-name>
    <servlet-class>com.KoreaIT.java.am.asdasdsad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asdasdsad</servlet-name>
    <url-pattern>/asdasdsad</url-pattern>
  </servlet-mapping>
</web-app>